body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
}

div {
  text-align: center;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.8em;
  width: 100px;
  margin-top: 1px;
  background: #cccccc;
}
