body {
  overflow: hidden;
  margin: 0px;
  padding: 10px;
  background: white;
}

div {
  text-align: center;
  padding: 2px 6px;
  font-family: sans-serif;
  font-size: 1.6em;
  width: 300px;
  margin-top: 1px;
  background: white;
}
