body {
  overflow: hidden;
  margin: 0px;
  padding: 10px;
  background: white;
  font-family: sans-serif;
  width: 175px;
}

div {
  text-align: center;
  padding: 2px 6px;
  font-size: 1.6em;
  margin-top: 1px;
}

a, button {
  margin: 0 auto;
  font-size: 10px;
  padding: 2px 6px;
  width: 45%;

}
